.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
}

.logo span{
    color: cadetblue;
}

.ul {
    display: flex;
    list-style: none;
    height: auto;
    margin-right: 50px;
    
}
.ul li {
    margin-top: 20px;
}
.ul li a{
    margin:10px;
    text-decoration: none;
    color: black;
}
.ul li a:hover{
    color: cadetblue;
}
